.footer {
     position: fixed;
    bottom: 0;
  margin-top: 5px;
  /*border-top: 1px solid;*/
  /*light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));*/
    font-size: 12px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
}

/* Responsive for small screens */
@media (max-width: 768px) {
  .inner {
    flex-direction: column;
  }

  .links {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.linkItem {
  text-decoration: none; /* remove underline */
  color: inherit; /* keep dimmed Mantine color */
    opacity: 50;
}

